language: python

python:
  - 2.7
  - 3.5

install:
  - pip install --quiet flake8 coverage mock

script:
  - make test
  - make pages

deploy:
    provider: pages
    edge:
        branch: v1.8.47
    repo: dimsumlabs/dsl-accounts-pages
    local-dir: pages
    target-branch: master
    skip-cleanup: true
    github-token: $GITHUB_TOKEN
    on:
        branch: master
        python: 3.5
        condition: $GITHUB_TOKEN
