{%   set rows = args.rows.filter(['isdata==1']).filter_forecast()
%}{% set filter_hack = args.filter_hack
%}{% set grid = rows.grid_by('month', 'hashtag')
%}{% set months = []
%}{% set monthsstr = []
%}{% for i in grid.headings_x
%}{%   if filter_hack is not none and ((today - i).days > filter_hack)
%}{%     continue
%}{%   endif
%}{%   do months.append(i)
%}{%   do monthsstr.append(i.strftime('%Y-%m'))
%}{% endfor
%}{% set months = months | sort
%}{% set monthsstr = monthsstr | sort
%}{% set tagwidth = grid.headings_y_width + 1
%}{% set colwidth = 9
%}  {{ ' '*tagwidth }}{{ monthsstr | join('  ') }}
{%   for tag in grid.headings_y|sort
%}{%   set row = grid.rows[tag]
%}{%   set found = []
%}{%   for month in months
%}{%     if month in row
%}{%       do found.append(month)
%}{%     endif
%}{%   endfor
%}{%   if found|length == 0
%}{%     continue
%}{%   endif
%}{{   "%-*s" % (tagwidth, tag)
}}{%   for month in months
%}{%     if month in row
%}{%       if row[month].isforecast
%}{%         set valuestr = '~' + row[month].value|string
%}{%       else
%}{%         set valuestr = row[month].value|string
%}{%       endif
%}{{       "%*s" % (colwidth, valuestr)
}}{%     else
%}{{       ' '*colwidth
}}{%     endif
%}{%   endfor
%}
{%   endfor %}
{{   "%-*s" % (tagwidth, 'MONTH Sub Total')
}}{% for month in months
%}{%   if grid._headings_x[month].isforecast
%}{%     set valuestr = '~' + grid._headings_x[month].value|string
%}{%   else
%}{%     set valuestr = grid._headings_x[month].value|string
%}{%   endif
%}{{   "%*s" % (colwidth, valuestr)
}}{% endfor
%}
{{   "%-*s" % (tagwidth, 'RUNNING Balance')
}}{% for month in months
%}{%   set monthstr = month.strftime('%Y-%m')
%}{#   TODO: this filter has basically a horrible performance
#}{%   set this = rows.filter(['month<='+monthstr])
%}{%   if this.isforecast
%}{%     set valuestr = '~' + this.value|string
%}{%   else
%}{%     set valuestr = this.value|string
%}{%   endif
%}{{   "%*s" % (colwidth, valuestr)
}}{% endfor
%}
{%   if rows.isforecast
%}{%   set valuestr = '~' + rows.value|string
%}{% else
%}{%   set valuestr = rows.value|string
%}{% endif
%}{{   "%-*s" % (colwidth, "TOTAL:") }}  {{ valuestr }}
