<!DOCTYPE html>
{% set rows = args.rows.filter([
    'hashtag=~^dues:',
    "rel_months>-5",
    'rel_months<1',
]) %}
<html lang="en">
<head>
<meta charset="utf-8" />
<title>dsl balance</title>
<style>
@font-face {
  font-family: 'ps2p';
  src: url('pressstart2p.ttf');
}

html {
	background-color:#000;
	font-family: ps2p,monospace;
}

body {
    width:95%;
    text-align:center;
}

.bill_desc {
    font-size:30px;
    color:#eee;
    text-align:right;
}

.bill_value {
    font-size:42px;
    text-align:right;
}

.color_neg {
    /* negative numbers are bad */
    color:red;
}

.color_pos {
    /* positive numbers are good */
    color:#00E100;
}

.membership_fees {
    font-size:20px;
    color:#fff;
    text-align:center;
}

.grid {
    font-size:17px;
    color:#00E100;
    text-align:left;
    margin:0;
    font-family: ps2p,monospace;
}

.donate {
    font-size:25px;
    color:pink;
    text-align:center;
}

.lastupdate {
    color:white;
    position: fixed;
    bottom: 0;
    right: 0;
}

.rowodd {
    background-color: #202020;
}

.tractorbar {
    border-color: #404040;
    background-image: url(circle.svg);
    background-repeat: repeat-y;
    background-position: center top;
}

.tractorleft {
    border-style: none dotted none none;
}

.tractorright {
    border-style: none none none dotted;
}

#overlay_dim {
  position: fixed; /* Sit on top of the page content */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
}

#overlay_text{
  position: absolute;
  top: 25%;
  left: 50%;
  font-size: 50px;
  color: red;
  transform: rotate(-45deg) translate(-50%,-50%);
}


</style>
</head>
<body>

 <div class="membership_fees">Membership fee <span class="color_pos">700&nbsp;HKD</span> per month, <span class="color_pos">300&nbsp;HKD</span> for students.</div>

 <table width=100%>
  <tr>
   <td colspan=2 class="bill_desc">Monthly Balance:</td>
   <td class="bill_value color_pos">{{ args.rows.filter(['rel_months==0']).value | int }}&nbsp;HKD</td>
  </tr>
  <tr>
   <td colspan=2 class="bill_desc">(due: <span class="color_neg">{{ _hack_rentdue() }}</span>) Rent:</td>
   <td class="bill_value color_neg">14000&nbsp;HKD</td>
  </tr>
  <tr>
   <td class="donate">Donate if you can!</td>
   <td class="bill_desc">Bills:</td>
   <td class="bill_value color_neg">~2000&nbsp;HKD</td>
  </tr>
 </table>

{% set grid = rows.grid_by('month', 'hashtag') %}
{% set months = grid.headings_x | sort %}
{# FIXME - hardcoded "dues:" strlen subtracted here and in the slice below #}
{% set tagwidth = grid.headings_y_width -5 %}
{% set colwidth = 9 %}
 <table width=100%>
  <tr>
   <td class="tractorbar tractorleft">&nbsp;
   <td>
    <pre class="grid rowodd">   {{ ' '*tagwidth }}{{ grid.headings_x_format('strftime','%Y-%m') |sort | join('  ') }}</pre>
    {% for tag in grid.headings_y|sort %}
    {%   set tagstr = tag[5:].title() %}
    {%   set row = grid.rows[tag] %}
    <pre class="grid {{ loop.cycle('','','rowodd','rowodd') }}">{{ "%-*s" % (tagwidth, tagstr) }} {% for month in months %}{% if month in row %}{{ "%*s" % (colwidth, row[month].value | int) }}{% else %}{{ ' '*colwidth }}{% endif %}{% endfor %}</pre>
    {% endfor %}
   <td class="tractorbar tractorright">&nbsp;
  </tr>
 </table>

<br>
 <table width=100%>
  <tr>
   <td>&nbspc;&nbspc;&nbspc;</td>
   <td class="bill_desc">Members loans to DSL:</td>
   <td class="bill_value color_neg">{{ args.rows.filter(['hashtag==loan']).value | int }}&nbsp;HKD</td>
  </tr>
 </table>

<div class="lastupdate">
  Data last updated {{ _hack_timenow }}
  <a href="https://github.com/dimsumlabs/dsl-accounts/actions">
    <img src="https://github.com/dimsumlabs/dsl-accounts/actions/workflows/ci.yml/badge.svg">
  </a>
</div>
<!-- If needed, this can be uncommented
<div id="overlay_dim"><div id="overlay_text">BROKEN!</div></div>

TODO:
- use javascript and fetch https://api.github.com/repos/dimsumlabs/dsl-accounts/actions/runs?per_page=3
- add a big visible overlay if two of the last three jobs were .conclusion=="failure"

-->
</body>
</html>
